__pycache__/
*.py[cod]
*$py.class
*.so

.build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

venv/
.env/
.venv/
env/
ENV/
env.bak/
venv.bak/
.uv/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

*.log
local_settings.py

db.sqlite3
db.sqlite3-journal

media/
staticfiles/
static_root/

.env
.env.*
.envrc


docker-data/
docker-volume/
logs/
*.pid

docker-compose.override.yml

.vscode/

.idea/
*.iml

.DS_Store

Thumbs.db